title = "about us"
url = "/about-us"
layout = "layout"
description = "todo sobre esxoevent"
is_hidden = 0
==
<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Acerca de nosotros
        </h1>
        <h2 class="subtitle">
          Todo lo que tienes que saber acerca de nosotros.

          {% set hello = '<strong>hello</strong>' %}
          {{ hello | raw }}
        </h2>
      </div>
    </div>
  </section>
  
  <section class="section">
      <div class="container">
          <div class="content">
              <h1>KODOTI Events</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
      </div>
  </section>