title = "exoeven"
url = "/"
layout = "layout"
description = "esta bien chida mi pagina"
is_hidden = 0
==
<?php
use Daniel\Galeries\Models\Galery;

function onStart(){
        $this['gallery'] = Galery::where('code', 'home-slider')->first();
    }
?>
==
<div id="lightSlider">
    {% for item in gallery.items %}
      <div class="hero is-dark is-large" style="background:url('{{item.image|media}}');background-size:100%;background-position:center center;">
          <div class="hero-body container content has-text-centered">
              <div>
                  <span class="tag is-large is-dark">
                      {{item.description}}
                  </span>
              </div>
              <hr>
              <a class="button is-info" href="{{item.url|app}}">Más detalle del evento</a>
          </div>
      </div>
      {% endfor %}
</div> 
{% put styles %}
<link rel="stylesheet" type="text/css" href="{{'assets/js/lightslider/css/lightslider.css'|theme}}"/>
{% endput %}

{% put scripts %}
<script type="text/javascript" src="{{'assets/js/lightslider/js/lightslider.js'|theme}}"></script>
<script>
    $(document).ready(function() {
        $('#lightSlider').lightSlider({
            adaptiveHeight:true,
            item:1,
            slideMargin:0,
            loop:true
        });
    });
</script>
{% endput %}