title = "Templanting"
url = "/templanting"
layout = "layout"
description = "xdxdxdxdxdxd"
is_hidden = 0
==
<?php
function onStart (){

    $this['isEarly'] = date('H') >= 9 && date('H') <= 12;
    $this['frutas'] = ['apple', 'piña', 'coco'];
}
?>
==
<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Templanting
        </h1>
        <h2 class="subtitle">

          {% set hello = '<strong>ejemplo de manipulacion visual</strong>' %}
          {{ hello | raw }}
        </h2>
      </div>
    </div>
  </section>
  {{ dump() }}
  <section class="section">
      <div class="container content">
          <h3>Ejemplo  1</h3>
          <p>
              {% if isEarly %}
                    estamos en la tarde
              {% else %}
                    tamos en la mañana
              {% endif %}
          </p>

          <h3>Ejemplo de condiaciones abiertas</h3>
          <p>
              {{ isEarly ? 'estamos en la mañana' : 'estamos en la tarede' }}
          </p>

          <h3>Concatenacion</h3>
          <p>
            {{ 'Estamos en la ' ~ (isEarly ? 'mañana' : 'tarde') }}
          </p>

          <h3>interaciones</h3>
          <ul>
            {% for item in frutas %}
                <li>
                    {{item}}
                </li>
                {% else %}
                   <li> <em>No se han encontrado frutas</em> </li>
            {% endfor %}
          </ul>


          <h3>Funciones STR</h3>
          <h4>camel case</h4>
          <ul>
             {{ str_camel('samurita la gallina') }} 
          </ul>
          <h4>snake case</h4>
          <ul>
             {{ str_snake('samurita la gallina', '"') }} 
          </ul>

          <h3>Funciones > HTML</h3>

          <p>{{ html_limit('<strong>Hello world</strong>', 3 ) }}</p>
      </div>
  </section>