==
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{'/'| app}}">
        <img src="{{ 'assets/images/logo.png'|theme }}" />
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">     
        <a href="" class="navbar-item">Proximos Eventos</a>

        <a href="{{'about-us' | page }}" class="navbar-item">about-us</a>
  
        <a href="{{'contacto' | page }}" class="navbar-item">
          Contacto
        </a>
      </div>
    </div>
  </nav>