description = "Esqueleto de la web"
==
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ this.page.title }}</title>
  <meta name="description" content="{{ this.page.description }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  {% styles %}
</head>

<body>
  {% partial "header" %}
  <section class="section">
    <div class="container">
      {% page %}
    </div>
  </section>
  {% partial "footer" %}


  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    {% framework extras %} 
    
  {% scripts %}
</body>

</html>